* , *::after , *::before{
    box-sizing: border-box;
}

body{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "DM Sans", sans-serif;
    background-color: #000C36;
}
header , #Ai-questions{
    display : flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    width : 100%;
    text-align: center;
}
header{
    text-align: center;
}
.logo{
    width : 90% ;
    max-width: 25rem; 
    margin-bottom: 0;
    font-size: 6rem;
    margin-top: 1.5rem;
    background: linear-gradient(90deg,
                rgb(26, 16, 224) 0%,
                rgb(12, 204, 211) 35%,
                rgba(0, 212, 255, 1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;}

header h1 {
    margin-top: 0;
}
main{
    width : 100%;
}
.question{
    display: flex;
    flex-direction: column;
    width : 90%;
    max-width: 25rem;
    align-items: left;
    text-align: left;
    margin: .8rem auto;
    
}
.question p {
    font-size: 1rem;
    font-weight: 700;
    line-height: 23px;
}
textarea{
    background-color: #3B4877;
    resize : none;
    width : 100%;
    max-width: 25rem;
    height: 5.5rem;
    border-radius: 2px;
    font-weight: 600;
    color : #ffffff;
    font-size: 1rem;
    border : none;
}
.btn{
    display : block;
    width : 80%;
    max-width: 25rem;
    padding : 1rem 1.5rem ; 
    font-weight: 600;
    background-color:#51E08A ;
    font-size: 1.5rem;
    margin: .8rem auto;
    border: none;
    border-radius: .3rem;
    cursor : pointer;
}
.btn:hover , .btn:active{
    background-color: #adff2f;
}
.cover{
    width: 90%; 
    max-width: 500px ;
    border-radius: 3px;
    margin: 10px auto;
    border: solid 2px white;   
}
.title{
    width : 95%; 
    margin: 4px auto;
    display: block;
}